* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

.container {
    height: 50vw;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 55vw;
    height: 40vw;
    background-color: rgb(217, 217, 217);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 3vw;
}