* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

nav {
    background-color: rgb(217, 217, 217);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
}

nav li {
    height: 70px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    font-size: clamp(1.5rem, 1.2vw, 3rem);
}

nav ul:first-child a:hover {
    background-color: #f0f0f076;
}

nav a:hover {
    background-color: rgb(255, 218, 34);
}

nav li:first-child {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.445);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.content {
    margin-top: 5vw;
    margin-inline: 15vw;
}

.head {
    height: 20vw;
}

.contact {
    background-color: rgb(245, 245, 245);
    border: 0.15vw solid rgb(99, 99, 99);
    border-radius: 20px;
    width: 1vw;
}

.contact h3 {
    font-size: 1.5vw;
}

.contact p {
    font-size: 1vw;
}

.contact_input {
    display: flex;
    flex-direction: column;
    font-size: 1vw;
}

.contact_input input {
    margin: 0.3vw;
    border: 0.1vw solid black;
    border-radius: 10px;
}

.contact_input button {
    height: 2vw;
    width: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_input i {
    font-size: 1vw;
}

.contact ul {
    margin-top: 0.5vw;
    list-style: none;
    padding: 0;
    font-size: 1vw;
}

.Banner h2 {
    font-size: 2vw;
}

.carousel-inner {
    border-radius: 20px;
}

.left, .right {
    border-radius: 20px;
}

.middle {
    padding-top: 5vw;
}

.middle h1 {
    margin-bottom: 2vw;
    font-size: 2vw;
}

.pic_top {
    display: flex;
    justify-content: space-between;
}

.pic_top img {
    border-radius: 20px;
}

.Main_Banner {
    padding-top: 5vw;
}

.Product {
    padding-top: 5vw;
    display: flex;
    /* background-color: red; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.BoxSearch {
    width: 40vw;
    background-color: rgb(217, 217, 217);
    padding: 1vw 1vw;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.BoxSearch input {
    border: none;
    width: 100%;
    padding-left: 0.5vw;
    outline: none;
    background: transparent;
    font-size: 1vw;
}

.BoxForumMain {
    padding: 5vw;
}

.Forum {
    width: 70vw;
    height: 30vw;
    background-color: rgb(217, 217, 217);
    padding: 1vw;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: auto;
}

.section-room {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 0.5vw;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#21d4fd, #d721ff);
    border-radius: 100px;
}

.section-room th,
.section-room td {
    padding: 1vw;
    font-size: 1vw;
}

tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

thead th, tbody td {
    text-align: center;
}

tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 20px;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}
  
tbody tr td,
tbody tr td img,
tbody tr td a {
    transition: .2s ease-in-out;
}
  
tbody tr.hide td,
tbody tr.hide td a {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out;
}
  
tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out;
}

.list_image {
    width: 2.5vw;
    border-radius: 20vw;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }
  
    .contact, .Banner {
        flex: 0 0 100%;
    }
}